MONGODB_URI = mongodb://localhost:27017/nyth_qc
NODE_ENV = development
API_KEY = 123456

REDIS_HOST = localhost
REDIS_PORT = 15020
REDIS_USERNAME = default
REDIS_PASSWORD = hihiha
REDIS_CACHE_TTL = 30000
